# Ignore everything
/*

# Except the dashboard folder
!pressure-sole-dashboard/
!/pressure-sole-dashboard/**

# But still ignore these inside the dashboard
pressure-sole-dashboard/node_modules
pressure-sole-dashboard/dist
pressure-sole-dashboard/dist-ssr
pressure-sole-dashboard/*.local

# Ignore root level files we don't need
!.gitignore
!README.md
